body {
    padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

}


.jumbotron {
    background-color: #001440;
    text-align: center;
    padding: 100px;
    border-radius: 0rem;
    margin: 0rem;

}

.jumbotron h1{
    color: whitesmoke;
}


.navbar {
    justify-content: space-between;
    font-size: 1.5rem;
    background-color: #001440;
    
}

.navbar li{
    margin-left: 1em;
    margin-right: 1em;
    
}

.navbar a{
    color: whitesmoke;
}

.navbar-light .navbar-brand{
    color: gray;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../images/Jordan.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


header h1{
    color: whitesmoke;
}

header p{
    color: whitesmoke;
}


