@model  HomeViewModel


<h2> Games of the Season</h2>

<div class="row">

     @foreach(var game in Model.GamesOfTheSeason)
     {
         <partial name="_GameCard" model="game" />

     }

</div>


